.App {
  /* text-align: center; */
  background-color: #161616;
  height: 100vh;
  padding: 1rem;
  color: white;
  display: grid;
  grid-template-areas: 
  "title title title title"
  "search search history history"
  "chart chart history history"
  "info info info info"
  ;
  grid-template-rows: auto auto 2fr auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  font-family: "IBM Plex Mono", sans-serif;

}
#navH1{
  justify-self: start;
  font-size: 3.5rem;
  font-weight: 400;
}
div#header{
  font-size: 3.5rem; 
  grid-area: title;
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  gap: 1rem;
}

.buttonGroup{
  height: 3rem;
  width: 6rem;
  background-color: #222;
  color: white;
  border: 1px solid #555;
  border-radius: 1rem;
  cursor: pointer;
}
#chartDiv{
  grid-area: chart;
  border-radius: 1.5rem;
  /* background-color: #222; */
}
#gptDiv{
  grid-area: search;
}
#historyDiv{
  grid-area: history;

}